@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@property --p {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}